CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'

database.default.hostname = ''
database.default.database = 'postgres'
database.default.username = ''
database.default.password = ''
database.default.DBDriver = Postgre
database.default.DBPrefix = ''
database.default.port = 5432
database.default.sslmode = require

supabase.url = ''
supabase.serviceKey = ''
supabase.profileBucket = perfil
